<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<style>
    @media (min-width: 1200px) {
        html, body {
            width: 100%;
            height: 100%;
        }

        body {
            background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
            background-size: 400% 400%;
            animation: gradient 5s ease infinite;
        }

        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
    }
</style>
<f:flashMessages/>
<f:if condition="{cookieWarning}">
    <f:render partial="CookieWarning" />
</f:if>
<f:if condition="{onSubmit}">
    <f:then>
        <f:form target="_top" fieldNamePrefix="" action="login" onsubmit="{onSubmit}">
            <f:render section="content" arguments="{_all}"/>
        </f:form>
    </f:then>
    <f:else>
        <f:form target="_top" fieldNamePrefix="" action="login">
            <f:render section="content" arguments="{_all}"/>
        </f:form>
    </f:else>
</f:if>

<f:section name="content">
    <fieldset>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <section class="vh-100" >
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-12 col-lg-12 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">
                                    <form>
                                        <div style="text-align: center;">
                                            <h3><a><i class="fas fa-play" style="color: purple"></i> PLAY</a></h3>
                                            <h4>Powered by Extone-Records</h4>
                                        </div>
                                        <hr style="color: white">
                                        <div style="text-align: center;">
                                            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
                                        </div>

                                        <f:if condition="{messageKey} == error">
                                            <div class="alert alert-danger" role="alert">
                                                Ooops! Your mail address or password is not correct. Please try again!
                                            </div>
                                        </f:if>

                                        <div class="form-outline mb-4">
                                            <f:form.textfield type="email" id="form2Example17" class="form-control form-control-lg" name="user" required="required"/>
                                            <label class="form-label" for="form2Example17">Email address</label>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <f:form.password id="form2Example27" name="pass" class="form-control form-control-lg" data="{rsa-encryption: ''}" additionalAttributes="{required: required}"/>
                                            <label class="form-label" for="form2Example27">Password</label>
                                        </div>

                                        <div class="pt-1 mb-4">
                                            <f:form.submit class="btn btn-dark btn-lg btn-block" value="{f:translate(key: 'login')}" name="submit"/>
                                        </div>

                                        <f:if condition="{settings.showForgotPassword}">
                                            <f:link.action class="small text-muted" action="recovery" controller="PasswordRecovery">
                                                <f:render partial="RenderLabelOrMessage" arguments="{key: 'forgot_header'}"/>
                                            </f:link.action>
                                        </f:if>
                                        <p><f:link.page pageUid="17" class="mb-5 pb-lg-2" >Don't have an account? Register here</f:link.page></p>
                                        <a><f:link.page pageUid="18" class="small text-muted" >Terms of use.</f:link.page></a>
                                        <a><f:link.page pageUid="19" class="small text-muted" >Privacy policy</f:link.page></a>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="felogin-hidden">
            <f:form.hidden name="logintype" value="login"/>
            <f:form.hidden name="pid" value="{storagePid}"/>
            <f:if condition="{redirectURL}!=''">
                <f:form.hidden name="redirect_url" value="{redirectURL}" />
            </f:if>
            <f:if condition="{referer}!=''">
                <f:form.hidden name="referer" value="{referer}" />
            </f:if>
            <f:if condition="{redirectReferrer}!=''">
                <f:form.hidden name="redirectReferrer" value="off" />
            </f:if>
            <f:if condition="{noRedirect}!=''">
                <f:form.hidden name="noredirect" value="1" />
            </f:if>

            {extraHidden}
        </div>
    </fieldset>
</f:section>
</html>
