<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">

<f:variable name="headerClass">bp-page-header navbar navbar-mainnavigation navbar-{theme.navigation.style}</f:variable>
<f:variable name="headerClass">{headerClass}{f:if(condition: logo.normal, then:' navbar-has-image')}</f:variable>
<f:variable name="headerClass">{headerClass}{f:if(condition: theme.navigation.type, else:' navbar-top', then:' navbar-{theme.navigation.type} navbar-fixed-{theme.navigation.type}')}</f:variable>
<f:if condition="{mainnavigation}">
    <f:security.ifAuthenticated>
        <div class="sidebar">
            <!--
              Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
          -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <div style="text-align: center;">
                        <a href="javascript:void(0)" class="simple-text logo-normal">
                            PLAY by Extone-Records
                        </a>
                    </div>
                </div>
                <ul class="nav">
                    <f:for each="{mainnavigation}" as="item">
                        <f:if condition="{item.active}">
                            <li class="nav-item active  ">
                        </f:if>
                        <f:if condition="!{item.active}">
                            <li class="nav-item">
                        </f:if>
                        <a class="nav-link" href="{item.link}">
                            <p>
                                {item.title}
                            </p>
                        </a>
                    </f:for>
                    <li class="active-pro ">
                        <a class="nav-link" href="?logintype=logout">
                            <p><i class="fas fa-door-open"></i> Logout</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle d-inline">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </f:security.ifAuthenticated>
</f:if>
</html>
